<div class="table-responsive">
    <p>{{version}}</p>
    <table class="table table-bordered">
        <colgroup>
            <col width="10%">
            {{#each data.rooms}}
                <col width="{{../colwidth}}%">
            {{/each}}
                <col width="{{colwidth}}%">
        </colgroup>

        <thead>
            <tr id="roomcontainment">
                <td></td>
                {{#each data.rooms}}
                <td class="sorted room-slot" data-id="{{id}}" id="room-{{id}}">
                    <h5 class="room-name">{{name}}</h5>
                    <div class="room-actions">
                        <a data-index="{{@index}}" data-confirm="Are you sure?" class="del-room-button btn btn-xs btn-danger" title="delete room" href="#"><i class="fa fa-trash"></i></a>
                        <a data-index="{{@index}}" class="edit-room-modal-button btn btn-xs btn-info" title="edit room" href="#" ><i class="fa fa-pencil"></i></a>
                        <span title="drag to sort this list" class="btn btn-xs btn-info"><i class="fa fa-arrows"></i></span>
                    </div>
                    <small>{{description}}</small><br />
                    <small>{{capacity}} persons</small>
                </td>
                {{/each}}
                <td class="not-sortable">
                    <div id="add-room-div" class="nobig-button-panel">
                        <a title="Add new room" href="#" id="add-room-modal-button" class="add-room-modal-button btn btn-lg btn-block btn-primary">
                            <i class="fa fa-plus"></i> Room
                        </a>
                    </div>
                </td>

            </tr>
        </thead>
        <tbody>

            {{#each sessions}}
                <tr class="sorted" class="{{#if blocked}}warning{{/if}}">
                    <td class="time-slot">
                        <span>{{time}}</span>
                        <a  href="#" 
                            data-toggle="tooltip" 
                            data-index="{{@index}}"
                            title="delete timeslot" 
                            class="btn btn-xs btn-danger del-timeslot-button"><i class="fa fa-trash"></i></a>
                    </td>
                    {{#each slots}}
                    <td class="sessionslot {{#unless ../blocked}}enabled{{/unless}}"
                        data-id="{{_id}}">

                        {{#if ../blocked}}
                            <span>{{../reason}}</span>
                        {{/if}}

                        <h5>{{title}}</h5>
                        <div class="description">{{description}}</div>
                        <div class="moderators">
                            {{moderators}}
                        </div>

                        {{#unless ../blocked}}
                        <div class="pull-right slot-actions">
                            <span><i class="fa fa-pencil"></i></span>
                            <span class="text-danger"><i class="fa fa-trash"></i></span>
                            <span><i class="fa fa-arrows"></i></span>
                        </div>
                        {{/unless}}

                    </td>
                    {{/each}}
                    <td></td>
                </tr>
            {{/each}}
                <tr>
                    <td>
                        <div class="nobig-button-panel">
                            <a  title="Add new timeslot" href="#" 
                                id="add-timeslot-modal-button"
                                class="btn btn-lg btn-block btn-info">
                                <i class="fa fa-plus"></i> Time</a>
                        </div>
                    </td>
                    <td colspan="{{data.rooms.length}}"></td>

                </tr>
        </tbody>
    </table>
</div>