<div class="modal" id="add-timeslot-modal">
    <form name="timeslot_form" class="form-horizontal" role="form" id="add-timeslot-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{_ 'Add new timeslot'}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{_ 'Time'}}</label>
                    <div class="col-sm-2">
                        <input type="text" 
                            class="form-control" 
                            id="timepicker" 
                            value="{{time}}" 
                            name="time" 
                            required 
                            data-parsley-pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                            placeholder="{{_ 'e.g. 11:00'}}">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{_ 'Blocked?'}}</label>
                    <div class="col-sm-10">
                        <input type="checkbox" class="form-control" name="blocked" >
                        <span class="help-block">
                            {{_ 'Select if this time slot is blocked, e.g. because of a break. This means you cannot add sessions in this slot.'}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="add-timeslot-button" class="btn btn-primary">{{_ 'Add new timeslot'}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{_ 'Close'}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
